.container {
    height: 100vh;
    padding-left: 20%;
    padding-right: 20%;
    margin: 0 auto;
  }
  
.row {
    margin: 15px 15px 15px 15px;
    padding-top: 50px;
    justify-content: center;
}

.col {
  padding-bottom: 100px;
  margin: 15px 15px 15px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.load-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
      

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  .table-title {
    background-color: lightblue;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px; 
  }
  
  
  tbody:nth-child(even) {
    background-color: #dddddd;
  }


.table {
  background-color: lightblue;
  font-weight: 600;

    &__title {
        width: 200px;
    }

    &__isbn {
        width: 200px;
    }

    &__check {
      width: 25px;
      border-collapse: collapse;
      border: none;
      background-color: white;
  }
    
}
